<div>
  <h1>Recipe Name Here</h1>
</div>
<hr />
<a href="#"><img [src]="" class="card-img-top" alt="..."></a>
<div>
  <h3>Delectable Description</h3>
  <hr />
  <p>Recipe description here</p>
</div>
<div>
  <h3>Step by Step</h3>
  <hr />
  <p>Mauris erat dui, ultrices nec rhoncus vel, placerat sit amet ligula. Morbi justo libero, aliquam eu ornare non, convallis sit amet nibh. Donec ultricies urna vel mi finibus egestas. Maecenas pulvinar lectus id quam molestie, vel.</p>
  <p>Mauris erat dui, ultrices nec rhoncus vel, placerat sit amet ligula. Morbi justo libero, aliquam eu ornare non, convallis sit amet nibh. Donec ultricies urna vel mi finibus egestas. Maecenas pulvinar lectus id quam molestie, vel.</p>
</div>
<div>
  <h3>Ingredients</h3>
  <hr />
  <ul>
    <li>Ingredient 1</li>
    <li>Ingredient 1</li>
    <li>Ingredient 1</li>
  </ul>
</div>
